/******************tablets in portrait mode********************/
@media screen
and ( min-width: 767px )
and ( max-width: 1050px )
and ( orientation: portrait ) {
#map {
  height: 20rem;
}

#restaurants-list {
  margin-left: -0.2rem;
}

#restaurants-list li {
  height: 450px;
  margin: 1rem;
  width: 18rem;
}

#restaurants-list li h3 {
  font-size: 1rem;
  margin-top: 2.25rem;
}

#restaurants-list li p {
  font-size: 1rem;
}

#restaurants-list li a {
  font-size: 0.9rem;
  padding: 0.8rem;
  top: 1rem;
}

#footer {
  line-height: 0.8;
}
}

@media screen
and ( min-width: 519px )
and ( max-width: 768px )
and ( orientation: portrait ) {
#map {
  height: 18rem;
}

#restaurants-list {
  margin-left: -1.1rem;
}

#restaurants-list li {
  width: 44%;
}

#restaurants-list li h3 {
  font-size: 1.1rem;
  margin-top: 2rem;
}

#restaurants-list li p {
  font-size: 1rem;
}

#footer {
  line-height: 0.95;
}
}

/******************mobile in portrait mode********************/
@media screen
and ( min-width: 300px )
and ( max-width: 520px )
and ( orientation: portrait ) {
nav {
  height: 3rem;
  padding-top: 0.1rem;
}

nav h1 a {
  font-size: 1.1rem;
  line-height: 2;
}

#map {
  height: 16rem;
  margin-top: 3rem;
}

.filter-options {
  display: flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  flex-direction: column;
  -ms-flex-direction: column;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  top: 0;
}

.filter-options h2 {
  font-size: 1rem;
  margin: 0.4rem 0 0.2rem 0;
}

.filter-options select {
  font-size: 0.7rem;
  height: 1.2rem;
  width: 7.7rem;
}

.filter-options select:last-of-type {
  margin-bottom: 0.4rem;
}

#restaurants-list {
  margin-left: -1.6rem;
}

#restaurants-list li {
  width: 90%;
}

#restaurants-list li h3 {
  margin-top: 2.7rem;
}

#restaurants-list li p {
  font-size: 1rem;
}

#restaurants-list li a {
  padding: 0.8rem;
  top: 1rem;
}

#footer {
  font-size: 0.8rem;
  padding-top: 1.1rem;
}
}

@media screen
and ( max-width: 375px )
and ( orientation: portrait ) {
nav h1 a {
  line-height: 1;
}

#map {
  height: 15rem;
}

#restaurants-list {
  margin-left: -2rem;
}

#restaurants-list li {
  height: 400px;
}

#restaurants-list li h3 {
  font-size: 1rem;
  margin-top: 1.7rem;
}

#restaurants-list li p {
    font-size: 0.9rem;
}

#restaurants-list li a {
  font-size: 0.9rem;
  padding: 0.7rem;
}

#footer {
  font-size: 0.7rem;
}
}

/******************tablets in landscape mode********************/
@media screen
and ( min-width: 1024px )
and ( max-width: 1400px )
and ( orientation: landscape ) {
#map {
  height: 20rem;
}

#restaurants-list {
  margin-left: -1.2rem;
}

#restaurants-list li {
  height: 450px;
  margin: 1rem;
  width: 18.5rem;
}

#restaurants-list li h3 {
  font-size: 1rem;
  margin-top: 2.25rem;
}

#restaurants-list li p {
  font-size: 1rem;
}

#restaurants-list li a {
  font-size: 0.9rem;
  padding: 0.8rem;
  top: 1rem;
}

#footer {
  padding-top: 1.45rem;
}
}

/******************mobile in landscape mode********************/
@media screen
and ( min-width: 300px )
and ( max-width: 1023px )
and ( orientation: landscape ) {
.filter-options {
  height: 5rem;
  top: 0;
}

.restaurant-img {
  border-top-right-radius: 0;
  -webkit-border-top-right-radius: 0;
  border-bottom-left-radius: 1.5rem;
  -webkit-border-bottom-left-radius: 1.5rem;
  float: left;
  height: 100%;
  width: 50%;
}

#restaurants-list li {
  height: 100%;
  width: 100%;
}

#restaurants-list li a {
  padding: 0.9rem;
  top: 1.5rem;
}
}

@media screen
and ( min-width: 823px )
and ( max-width: 1023px )
and ( orientation: landscape ) {
#map {
  height: 16rem;
}

#restaurants-list li {
  height: 280px;
  margin-left: 1.27rem;
  width: 90%;
}

#restaurants-list li h3 {
  margin-top: 3.55rem;
}

#restaurants-list li p {
  font-size: 1rem;
}

#restaurants-list li a {
  font-size: 0.9rem;
}

#footer {
  line-height: 1.1;
}
}

@media screen
and ( min-width: 812px )
and ( max-width: 822px )
and ( orientation: landscape ) {
#map {
  height: 14rem;
}

#restaurants-list {
  margin-left: 0.8rem;
}

#restaurants-list li {
  width: 90%;
}

#restaurants-list li h3 {
  margin-top: 2.9rem;
}
}

@media screen
and ( min-width: 668px )
and ( max-width: 811px )
and ( orientation: landscape ) {
#map {
  height: 17rem;
}

#restaurants-list {
  margin-left: 0.5rem;
}

#restaurants-list li {
  margin: 0.5rem 3rem 1.5rem 0;
}

#restaurants-list li h3 {
  font-size: 1rem;
  margin-top: 2.68rem;
}

#restaurants-list li p {
  font-size: 0.9rem;
}

#restaurants-list li a {
  font-size: 0.8rem;
  padding: 0.8rem;
}

#footer {
  font-size: 0.9rem;
}
}

@media screen
and ( min-width: 569px )
and ( max-width: 668px )
and ( orientation: landscape ) {
#map {
  height: 13rem;
}

#restaurants-list {
  margin-right: 2.5rem;
}

#restaurants-list li h3 {
  font-size: 0.9rem;
  margin-top: 2.05rem;
}

#restaurants-list li p {
  font-size: 0.85rem;
}

#restaurants-list li a {
  font-size: 0.75rem;
  padding: 0.65rem;
  top: 1rem;
}

#footer {
  font-size: 0.75rem;
}
}

@media screen
and ( max-width: 568px )
and ( orientation: landscape ) {
#map {
  height: 11rem;
}

#restaurants-list {
  margin-left: -0.6rem;
}

#restaurants-list li {
  width: 90%;
}

#restaurants-list li h3 {
  font-size: 0.8rem;
  margin-top: 1.9rem;
}

#restaurants-list li p {
  font-size: 0.7rem;
}

#restaurants-list li a {
  font-size: 0.6rem;
  padding: 0.6rem;
  top: 1rem;
}

#footer {
  font-size: 0.7rem;
  line-height: 1.5;
}
}